
a[download] {
    padding: 20px;
    margin: 20px 50px;
    display: block;
    background-color: var(--compliment);
    font: inherit;
    border-radius: 3px;
    letter-spacing: 1em;
    box-shadow: 0px 0px var(--compliment);
    transition: box-shadow 1s;
}

a[download]:hover {
    box-shadow: 5px 5px var(--complimentaccent);
}

@media screen and (max-width: 438px) {
    a[download] {
        margin: 20px 0;
    }
} 