input,
textarea {
    display: block;
    margin: 30px;
    font-family: inherit;
    width: 60%;
    height: 25px;
}

textarea {
    height: 50px;
}

form button {
    padding: 20px;
    margin: 20px 50px;
    display: block;
    background-color: var(--compliment);
    font: inherit;
    border-radius: 3px;
    letter-spacing: 1em;
    box-shadow: 0px 0px var(--compliment);
    transition: box-shadow 1s;
}

form button:hover {
    box-shadow: 5px 5px var(--complimentaccent);
}