:root{
    --primary:  rgb(3, 78, 218);
    --primaryaccent: rgb(168, 191, 253);
    --compliment: rgb(255, 145, 187);
    --complimentaccent: rgb(255, 191, 253);
    --mute: tan;
    --projects: #43bc6b;
    --projectsaccent: #85ffae;
    --resume: #ffe867;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: italic;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    background-color: rgb(250, 255, 224);
}

p {
    font-size: 16px;
    padding: 5%;
    font-style: initial;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-family: 'Bodoni Moda', serif;
    margin: 0 auto;
}

h3,
h4{
    display: block;
    margin: 0 auto;
    font-size: 16px;
    color: rgb(0, 37, 105);
}

h4 {
    font-size: 12px;
}

@media screen and (max-width: 850px) {
   img {
    max-width: 250px;
   } 
}