* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: italic;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

p {
    font-size: 16px;
    padding: 5%;
    font-style: initial;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    font-family: 'Bodoni Moda', serif;
    margin: 0 auto;
}

h3,
h4{
    display: block;
    margin: 0 auto;
    font-size: 16px;
    color: rgb(0, 37, 105);
}

h4 {
    font-size: 12px;
}