 #summary {
     display: flex;
     margin-top: 10px;
 }

 p {
     display: flex;
     flex: 2 1;
 }
 
 #summary img {
    max-height: 300px;
    margin: 10px auto;
    border: 8px solid var(--compliment);
    flex: 1 2;
}

#skills {
    margin: 0 20px 5px 20px;
}

#skills ul {
    flex-direction: column;
}

#skills h3 {
    margin: 10px;
}

@media screen and (max-width: 850px) {
   #summary {
    flex-direction: column;
    margin-bottom: 10vh;
   } 
}